<nz-table #infoTable [nzData]="tableData" class="info-table">
    <thead>
        <tr>
            <th *ngFor="let item of header" [nzWidth]="item.width">{{item.label}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of infoTable.data">
            <td *ngFor="let h of header" class="font-16">
                <ng-container *ngIf="h.key!='explain' && item[h.key]">
                    <code class="stress-normal">
                        {{item[h.key]}}
                    </code>
                </ng-container>
                <ng-container *ngIf="h.key=='explain' && item[h.key]">
                    {{item[h.key]}}
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>